
.card:hover{
  background-color: #252525;
}

/* dark scrolling  */
/* For WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; /* Color of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555; /* Color of the scroll thumb */
    border-radius: 5px; /* Border radius of the scroll thumb */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #777; /* Color of the scroll thumb on hover */
  }

  .songList ul li{
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    margin: auto;
    margin-top: 10px;
    align-items: center;
    gap: 15px;
    border-radius: 6px;
   padding: 10px 15px; 
   font-size: 0.75rem;
   width: 20rem;
  }
  .playnow{
    gap: 12px;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    position: absolute;
    right : 25px ;
  }